<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GreenMommy</title>
    <!--ícone da barra de navegação-->
    <link rel="shortcut icon" href="media/icons/favicon.png">
    <!-- Link externo para estilos em CSS-->
    <link rel="stylesheet" href="#">
    <!-- Link externo para scripts em javascript-->
    <script src="#" type="text/javascript"></script>
</head>

<body>
    <header>
        <div>
            <a href="index.html">
                <img src="media/logo/logo-name.png" alt="Logo GreenMommy">
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="#"><img src="media/icons/heart.svg" alt="ícone de coração">Mommy2Mommy</a>
                </li>
                <li>
                    <a href="products.html"><img src="media/icons/shopping-bag (1).svg" alt="ícone de sino">Produtos</a>
                </li>
                <li>
                    <a href="contact.html"><img src="media/icons/message-circle.svg" alt="ícone de mensagem">Fale Conosco</a>
                </li>
                <li>
                    <a href="#">
                        <img src="media/icons/shopping-cart.svg" alt="shopping-cart">
                        <span>Carrinho</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <header>
            <img src="media/photos/banner.jpg" alt="banner">
        </header>
        <section>
            <!--Listagem dos produtos-->
            <!-- Cada produto está dentro das divs maiores para facilitar a estilização-->
            <div>
                <h1>Linha GreenMommy - Óleos essenciais</h1>
            </div>
            <div>
                <div>
                    <div>
                        <a>
                            <img src="media/photos/logo_Prancheta 1 cópia 7.png" alt="produto 1">
                        </a>
                    </div>
                    <div>
                        <div>
                            <a>Cannabis Sativa Óleo de Limpeza</a>
                            <div>R$ 10,00</div>
                            <div>125ml</div>
                            <div>IVA incluído</div>
                            <div>Preço Válido de 1 a 31 de fevereiro</div>
                        </div>
                        <div>
                            <a href="#">
                                <img src="media/icons/minus-circle.svg" alt="minus">
                            </a>
                            <input ng-model="quantity">
                            <a href="#">
                                <img src="media/icons/plus-circle.svg" alt="plus">
                            </a>
                            <a href="#">
                                <span>Adicionar</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <a>
                            <img src="media/photos/logo_Prancheta 1 cópia 9.png" alt="produto 3">
                        </a>
                    </div>
                    <div>
                        <div>
                            <a>Cannabis Sativa Óleo de Limpeza</a>
                            <div>R$ 10,00</div>
                            <div>125ml</div>
                            <div>IVA incluído</div>
                            <div>Preço Válido de 1 a 31 de fevereiro</div>
                        </div>
                        <div>
                            <a href="#">
                                <img src="media/icons/minus-circle.svg" alt="minus">
                            </a>
                            <input ng-model="quantity">
                            <a href="#">
                                <img src="media/icons/plus-circle.svg" alt="plus">
                            </a>
                            <a href="#">
                                <span>Adicionar</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <div>
                        <a>
                            <img src="media/photos/logo_Prancheta 1 cópia 8.png" alt="produto 2">
                        </a>
                    </div>
                    <div>
                        <div>
                            <a>Cannabis Sativa Óleo de Limpeza</a>
                            <div>R$ 10,00</div>
                            <div>125ml</div>
                            <div>IVA incluído</div>
                            <div>Preço Válido de 1 a 31 de fevereiro</div>
                        </div>
                        <div>
                            <a href="#">
                                <img src="media/icons/minus-circle.svg" alt="minus">
                            </a>
                            <input ng-model="quantity">
                            <a href="#">
                                <img src="media/icons/plus-circle.svg" alt="plus">
                            </a>
                            <a href="#">
                                <span>Adicionar</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- início da barra lateral de filtros-->
        <aside>
            <!-- O aside ficará alinhada à esquerda e, futuramente, terá uma barra de seleção de intervalos de preço -->
            <div>
                <h2>Facilite sua busca com os filtros abaixo:</h2>
            </div>
            <div>
                <h3>Categorias</h3>
                <ul>
                    <li>
                        <a href="#">Cuidados Específicos e Séruns</a>
                    </li>
                    <li>
                        <a href="#">Esfoliantes e Máscaras</a>
                    </li>
                    <li>
                        <a href="#">Tamanhos Mini</a>
                    </li>
                    <li>
                        <a href="#">Olhos</a>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Relevância</h3>
                <ul>
                    <li>
                        <input type="checkbox" name="sprits" id="chk1">
                        <label for="chk1">5</label>
                    </li>
                    <li>
                        <input type="checkbox" name="sprits" id="chk2">
                        <label for="chk2"> 4 </label>
                    </li>
                    <li>
                        <input type="checkbox" name="sprits" id="chk3">
                        <label for="chk3"> 3</label>
                    </li>
                    <li>
                        <input type="checkbox" name="filtro3" id="chk4">
                        <label for="chk4"> 2</label>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Marca</h3>
                <ul>
                    <li>
                        <input type="checkbox" name="filtro4" id="marca_name">
                        <label for="marca_name">GreenMommy</label>
                    </li>
                </ul>
            </div>
            <div>
                <h3>Desconto</h3>
                <ul>
                    <li>
                        <input type="radio" name="filtro5" id="min">
                        <label for="min">0 a 10%</label>
                    </li>
                    <li>
                        <input type="radio" name="filtro5" id="med">
                        <label for="med">10% a 20%</label>
                    </li>
                    <li>
                        <input type="radio" name="filtro5" id="max">
                        <label for="max">20% a 30%</label>
                    </li>
                </ul>
            </div>
        </aside>
        <!-- fim da barra lateral de filtros -->
    </main>
    <footer>
        <div>
            <form>
                <label for="mailchimp">Saiba Tudo Sobre As Melhores Novidade e Promoções</label>
                <input type="email" name="email" id="email" placeholder="Digite seu email..." required>
                <button type="submit" title="inscription">
                    <img src="media/icons/mail.svg">
                </button>
            </form>
        </div>
        <div>
            <h4>Loja</h4>
            <ul>
                <li><a href="contact.html">Contato</a></li>
                <li><a href="#">Envio e Devoluções</a></li>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Termos de Uso</a></li>
            </ul>
        </div>
        <div>
            <h4>Segurança</h4>
            <div>
                <img src="media/icons/shield.svg" alt="ícone de proteção">
                <p>
                    Ambiente 100% Seguro. Sua Informação
                    é Protegida Pela Criptografia SSL 256-Bit
                </p>
            </div>
        </div>
        <div>
            <h4>Métodos de Pagamentos Aceitos</h4>
            <img src="media/photos/compra-segura-e1600188323682-1024x322-1.png">
        </div>
        <div>
            <div>
                <a href="#"><img src="media/icons/whatsapp.svg" alt="ícone do WhatsApp"></a>
            </div>
            <div>
                <a href="#"><img src="media/icons/facebook.svg" alt="ícone do Facebook"></a>
            </div>
            <div>
                <a href="#"><img src="media/icons/instagram (1).svg" alt="ícone do Instagram"></a>
            </div>
        </div>
        <div>
            <p> &#169;GreenMommy - Todos os Direitos reservados.</p>
        </div>
    </footer>
</body>

</html>