/* infos globais*/
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Myfont;
    src: url(../font/Bely\ Display\ W00\ Regular.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700&display=swap');

/* infos globais*/

/* estilos padrões das páginas*/
main {
    width: 1095px;
    margin: 0 auto;
}

/* Header + Navbar*/
header {
    width: 1095px;
    margin: 0 auto;
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    color:#060606;

}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

nav li {
    margin: 0 15px 0 15px;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

nav li:hover {
    font-weight: bold;
}


nav li a {
    display: flex;
    align-items: center;
    gap: 8px;
}
section#preference-menu {
    display: flex;
    justify-content:space-around;
}

.icon-heart, .shopping-cart, .icon-message, .icon-cart  {
    margin-right: 0;
} 

#logo {
    float: left;
    display: flex;
    justify-content:flex-start;
}

#preference-menu {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 0;

}
.preference-button {
    border: 1.5px solid #000;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Myfont';
    display: flex;
    justify-content: center;
    padding: 5px;
}

.preference-button a {
    text-decoration: none;
    color:#000;
}

.preference-icon {
    margin: none;
}

.preference-image {
    width: 1095px;
    height: 300px;
}

.search-form .form{
    position: absolute;
    top: 40%;
    right: 50%;
    transform: translateX(285px);
    width: 600px;
    display: flex;
    align-items: center;
}

.search-form .form .input-form {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 20px;
    padding: 15px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}

.search-form .form .search-icon1 {
    position: absolute;
    background: transparent;
    border: none;
    top: 12px;
    right: 18px;

}

.title-section {
    font-family: 'Myfont';
    font-size:26px;
    color: #303032;
    margin: 30px 0;
}

.list-lbox {
    display: flex;
    gap: 10px;
    padding: 0 10px;
    justify-content: center;
    list-style: none;
    margin: 50px 0;
}

.list-lbox li:hover{
    opacity: 0.7;

}

.list-lbox li a {
    text-decoration: none;
    color: #303032;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list-lbox li a span {
    font-family: 'Montserrat' , sans-serif;
    font-weight: 600;
    font-size: 18px;

}

.about-us {
    background-color: #3B4938;
    width: 1095px;
    padding: 60px 0;
}
.about-us h1 {
    font-family: 'Myfont';
    font-size: 40px;
    color: #F3F0EA;
    text-align: center;
    margin-bottom: 10px;
}

.about-us p {
    text-decoration: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #fff;
}

.purchase-infos {
    display: flex;
    justify-content: center;
    gap: 30px;

}

/* Footer */

footer {
    background-color: #303032;
}

.subscribe {
    padding: 50px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: 'MyFont';
    font-size: 25px;
    color: #fff;
}

.subscribe .mailchimp-input {
    position: relative;
    width: 35%;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding: 15px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}
.footer-grid {
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
}

.footer-grid h4 {
    font-family: 'MyFont';
    font-size: 18px;
    color: #fff;
    margin-bottom: 8px;
}

.footer-grid li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 8px;
}

.footer-grid p {
    font-family: 'Montserrat', sans-serif;
    width: 400px;
    font-size: 20px;
    color: #fff;
}

.footer-grid li a {
    text-decoration: none;
    color: #fff;

}

.info-site {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

